<%- layout('../views/layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-sm-4 mx-auto px-4">
        <div class="card mb-3">
            <div class="card-title">
                <a href="/burritos/<%= burrito._id %>"><%= burrito.title %></a>
            </div>
            <div>
                <span class="card-subtitle"><%= moment(burrito.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></span>
            </div>
            <img id="card-burrito-pic" src="http://ramonstacoshop.com/wp-content/uploads/2017/11/california-burrito-slider.jpg" class="card-img-top" alt="A picture of a burrito">
            <div>
                <%= burrito.restaurant %>, <span class="text-muted"><%= burrito.location %></span>
            </div>
            <div>
                $<%= burrito.price %>
            </div>
            <p class="card-text"><%= burrito.description %> </p>
        </div>
    </div>
</div> 

    <a class="card-link btn btn-secondary" href="/burritos/<%= burrito._id %>/edit">Edit</a>

    <form action="/burritos/<%= burrito._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">YEET (delete)</button>
    </form>

<a class="btn btn-primary" href="/burritos">Back to the FEED</a>