<%- layout('layouts/boilerplate.ejs') %>

<div class="container">
    <div class="row align-items-center">
        <div class="col text-end">
            <form action="/burritos/megusta/<%= burrito._id %>?_method=PUT" method="POST"><button class="btn btn-primary">Me Gusta 👍</button></form>
        </div>
        <div class="col-sm-4 mx-auto px-4">
            <div class="card mb-3 mt-3">
                <img src="http://ramonstacoshop.com/wp-content/uploads/2017/11/california-burrito-slider.jpg" class="card-img-top"  alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= burrito.title %></h5>  
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%=burrito.restaurant%> - <span class="text-muted"><%= burrito.location %></span></li>
                    <li class="list-group-item"><p class="card-text"><%= burrito.description %></p></li>
                    <li class="list-group-item">$<%= burrito.price %></li>
                    <% if(burrito.likes > 0 || burrito.dislikes > 0) { %>
                    <li class="list-group-item text-center"><%= burrito.likes %> 👍 <%= burrito.dislikes %>👎</li>
                    <% } %>
                    <% if(burrito.likes > 0 || burrito.dislikes > 0) { %>
                    <li class="list-group-item text-center">
                        <% const score = Number(( burrito.likes / ( burrito.likes + burrito.dislikes ) * 100 ).toFixed(2)) %>
                        <%= score %>%</li>
                        <% } %> 
                </ul>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <a class="btn btn-secondary mb-1 btn-sm"  href="/burritos/<%= burrito._id %>/edit">Edit</a>
                          </div>
                          <div class="col">
                            <form action="/burritos/<%= burrito._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                          </div>
                          <div class="col">
                            <a class="btn btn-primary mb-1 btn-sm" href="/burritos">Back</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <%= moment(burrito.createdAt).format('MMMM Do YYYY, h:mm:ss a') %>
                </div>
            </div>
        </div>
    
        <div class="col">
            <form action="/burritos/yeet/<%= burrito._id %>?_method=PUT" method="POST"><button class="btn btn-danger">👎 YEET</button></form>
        </div>
    
    </div>

</div>
