<%- layout('../views/layouts/boilerplate.ejs') %>

<h1 class="text-center mt-3">Change thy burrito, lest ye make mistakes!</h1>

<div class="container">
    <form action="/burritos/<%= burrito._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="burrito[title]" value="<%= burrito.title %>" required>
        </div>
        <!-- <div class="mb-3">
            <label class="form-label" for="picture">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01" name="burrito[picture]">
        </div> -->
        <div class="mb-3">
            <label for="restaurant" class="form-label">Restaurant</label>
            <input type="text" class="form-control" id="resaurant" name="burrito[restaurant]" value="<%= burrito.restaurant %>" required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="burrito[location]" value="<%= burrito.location %>" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="price" name="burrito[price]" value="<%= burrito.price %> " required>
            </div>
        </div>
        <div class="my-3">
            <div class="input-group">
                <span class="input-group-text">Gimme the deets</span>
                <textarea class="form-control" name="burrito[description]" aria-label="With textarea" required><%= burrito.description %></textarea>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>