<%- layout('../views/layouts/boilerplate.ejs') %>

<h1 class="mx-auto my-3">FEED ME BURRITOS</h1>

<% for(let burrito of burritoList) { %>
    <div class="col-md-5 mx-auto px-4">
        
        <div class="card mb-3 mt-3">
            <div class="card-body">
                <h5 class="card-title"><%= burrito.title %></h5>
                <!-- <p class="card-text"><%= burrito.description %></p> -->
            </div>
            <a href="/burritos/<%= burrito._id %>"><img src="http://ramonstacoshop.com/wp-content/uploads/2017/11/california-burrito-slider.jpg" class="card-img-top"  alt="One of many tasty burritos..."></a>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%=burrito.restaurant%> - <span class="text-muted"><%= burrito.location %></span></li>
            </ul>
            <div class="card-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <a class="btn btn-primary" style="width: 100px;" href="/burritos/<%= burrito._id %>">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <%= moment(burrito.createdAt).format('MMMM Do YYYY, h:mm:ss a') %>
            </div>
        </div>
    </div>
<% } %> 